* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 14px;
   color: #555;
}

body {
   height: 100vh;
   overflow-x: hidden;
   font-family: Helvetica, sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

/* 
@media (max-width: 730px) {
   main > div:nth-child(3) {
      display: none;
   }
} */

nav {
   display: flex;
   justify-content: space-between;
   height: 60px;
   padding: 20px 10px;
}

/* .hidden {
   display: none;
} */

/* @media (max-width: 730px) {
   .hidden {
      display: initial;
   } */

ul {
   display: flex;
   list-style: none;
   align-items: center;
   flex-direction: row;
}

li {
   text-align: center;
   padding: 14px 12px;
}

a {
   text-decoration: none;
}

li a:hover {
   text-decoration: underline;
}

.small-text {
   font-size: 0.9rem;
}

.grid-bg {
   width: 90px;
   height: 40px;
   border-radius: 90px;
}

.grid-bg:hover {
   background-color: rgba(100, 100, 100, 1);
   cursor: pointer;
}

.menu-button {
   width: 25px;
   margin: auto;
   object-fit: contain;
}

.avatar {
   border-radius: 40px;
   margin-top: 6px;
   width: 40px;
   size: small;
}

.search-wrapper {
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 45px;
   align-items: center;
   margin: auto;
   object-fit: contain;
   position: relative;
   bottom: 70px;
}
.logo {
   height: auto;
   width: 45%;
   justify-content: center;
   align-items: center;
   display: flex;
   position: relative;
   /* top: 10px; */
   left: 180px;
   /* right: 150px; */
   /* bottom: 10px; */
}

form {
   position: relative;
   margin-top: 30px;
}

input {
   width: 600px;
   height: 45px;
   padding-left: 50px;
   font-size: 1.2rem;
   border-radius: 45px;
   border: 1px solid #d3d3d3;
}

input:hover {
   box-shadow: 0 1px 3px 1px rgba(201, 201, 201, 0.5);
}

input:focus {
   outline: none;
}

.search {
   width: 20px;
   position: absolute;
   top: 15px;
   left: 15px;
}

.mic {
   width: 20px;
   position: absolute;
   top: 12px;
   left: 560px;
}

.buttons {
   width: 350px;
   margin: auto;
   margin-top: 30px;
   display: flex;
   justify-content: center;
   gap: 15px;
}
button {
   border: 1px solid transparent;
   padding: 8px 12px;
   background-color: #f8f9fa;
   border-radius: 5px;
}

button:hover {
   border: 1px solid #eee;
   box-shadow: 0 0 2px 1px rgba (189, 189, 189, 0.5);
   cursor: pointer;
}

.footer {
   width: 100%;
}

.panel {
   border-bottom: 1px solid #ddd;
   height: 50px;
   display: flex;
   justify-content: space-between;
   padding: 15px;
   align-items: center;
   background-color: #f0f0f0;
}

.carbon {
   position: relative;
   right: 55px;
}

.leaf {
   width: 12px;
   height: auto;
   position: relative;
   right: 2px;
}

p {
   color: dark-grey;
   padding-left: 13px;
}
